<div style="background-color:cadetblue;">
    <h3>Blazor Component Demo</h3>

    <h3>This is from Blazor component</h3>

    <h1>Welcome To: <b>@Message</b></h1>
</div>
@code {
    [Parameter]
    public string Message { get; set; }
}
